root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.rs]
indent_style = space
indent_size = 4

[*.{toml,yml,yaml,json}]
indent_style = space
indent_size = 2

[*.md]
# Markdown uses trailing double spaces for hard line breaks.
trim_trailing_whitespace = false
